<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/style.css}">

  <title>Listagem de tarefa</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/create">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/list">Listagem</a>
          </li>
          
        </ul>
       
      </div>
    </div>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome da tarefa</th>
        <th scope="col">Data de execução</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr data-th-each="task : ${tasks}">
        <td data-th-text="${task.id}"></td>
        <td data-th-text="${task.name}"></td>
        <td data-th-text="${{task.date}}"></td>
        <td>
          <a th:href="@{'/edit/'+${task.id}}" >Editar</a>
        </td>
      </tr>
     
    </tbody>
  </table>

</body>
</html>